extends ../blocks/default

block content
  .playform

block outer
  .popup-gift
    .popup-gift_inner
      .popup-gift_block
        button.popup-gift_button-close.popup-gift_button-x
        .popup-gift_block-content
          .popup-gift_block-item
            p.popup-gift_title
              | Поздравляем!
            p.popup-gift_text
              | Вы&nbsp;победили <span class="nowrap">там-то</span>, и&nbsp;вам полагается <span class="nowrap">какой-то</span> подарок
            button.popup-gift_button-ok.button Получить